@page
@model ProcessMandatoryModel
@{
    Layout = null;
}

<div class="row" style="margin: 5px">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-3" style="padding-top: 5px; font-weight: bold;">Employee: </label>
            <div class="col-md-9">
                <kendo-combobox name="ProcessMandatoryEmployeeId" style="width: 100%"
                                datatextfield="FullName"
                                datavaluefield="Id"
                                min-length="3"
                                height="520"
                                filter="FilterType.Contains"
                                on-change="onEntityComboboxChange"
                                bind-to="@Model.ComboboxDatasources.EmployeeCmbDs">

                </kendo-combobox>
            </div>
        </div>

        <div class="k-card k-flex-30 k-card-vertical" style="margin-top: 5px">
            <div class="k-card-header k-hbox">
                <div>
                    <div class="k-card-title ">
                        <div class="text-center">
                            <label style="padding-top: 5px; font-weight: bold;">Process in month:  </label>
                            <kendo-checkbox name="IsProcessInMonth" size=ComponentSize.Medium rounded=Rounded.Medium on-change="onCheckboxChange" />                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="k-card-body">
                <div class="text-center">
                    <kendo-checkbox name="ProcessMandatorySSS" size=ComponentSize.Medium rounded=Rounded.Medium on-change="onCheckboxChange" />
                    <label style="padding-top: 5px; font-weight: bold;">SSS and SSS EC  </label>
                </div>

                <div class="text-center">
                    <kendo-checkbox name="ProcessMandatoryPHIC" size=ComponentSize.Medium rounded=Rounded.Medium on-change="onCheckboxChange" />
                    <label style="padding-top: 5px; font-weight: bold;">PHIC  </label>
                </div>

                <div class="text-center">
                    <kendo-checkbox name="ProcessMandatoryHDMF" size=ComponentSize.Medium rounded=Rounded.Medium on-change="onCheckboxChange" />
                    <label style="padding-top: 5px; font-weight: bold;">HDMF  </label>
                </div>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 20px; margin-bottom: 20px">
            <div class="text-center">
                <button id="btnSave"
                        class="btn btn-primary  cmd-buttons"
                        type="button"
                        onclick="CmdProcessMandatory()">
                    <span class="btn-label">
                        <i class="fa fa-gear"></i>
                    </span>
                    Process
                </button>
            </div>
        </div>
    </div>
</div>
