@page
@model RepLeaveLedgerSummaryModel
@using whris.UI.Reports

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Leave Ledger Summary";
    Layout = null;
}
<style>
    #DocumentViewer
    {
        height: 100vh;
    }
</style>

<html>
    <head>
    <title>Leave Ledger Summary</title>
        <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
        <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />

        <script src="~/js/thirdparty.bundle.js"></script>
        <script src="~/js/viewer.part.bundle.js"></script>
    </head>
    <body>
        @Html.DevExpress().WebDocumentViewer("DocumentViewer").Bind(Model.LeaveLedgerSummary)
    </body>
    <script>
    </script>
</html>


