@model object
@(
Html.Kendo().ComboBoxFor(m => m)
    .Placeholder("Tax Code")
    .DataTextField("TaxCode")
    .DataValueField("Id")
    .Filter(FilterType.Contains)
    .AutoBind(true)
    .MinLength(3)
    .Template("<span>#: data.TaxCode#</span>")
    .ValuePrimitive(true)
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Url("/MstMandatoryDeductionTable/Index?handler=TaxCodes");
        })
        .ServerFiltering(false);
    })
)