@model object
@(
Html.Kendo().ComboBoxFor(m => m)
    .Placeholder("Other Deduction")
    .DataTextField("OtherDeduction")
    .DataValueField("Id")
    .Filter(FilterType.Contains)
    .AutoBind(true)
    .MinLength(3)
    .Template("<span>#: data.OtherDeduction#</span>")
    .ValuePrimitive(true)
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Url("/TrnPayrollOtherDeduction/Detail?handler=Deductions");
        })
        .ServerFiltering(false);
    })
)